<h1>Yönetici Paneli</h1>
<p>Burası <mark><strong>views/panel/index.ejs</strong></mark> dosyasından gelir.</p>
<p><mark><strong>routes/panel.js</strong></mark> dosyasından çağrılan <mark><strong>controllers/panel/MainController.js</strong></mark> dosyası içindeki <strong>index</strong> methodundan render edilir.</p>
