<div style="width:500px; margin:100px auto; text-align:center; border: 1px dashed #e0e0e0">
    <h1>Bir hata meydana geldi</h1>
    <h2><%=error.status %></h2>
    <hr>
    <h4><%=error.message %></h4>
</div>
