<h1>Ana Sayfa</h1>
<p>Burası <mark><strong>views/index.ejs</strong></mark> dosyasından gelir.</p>
<p><mark><strong>routes/main.js</strong></mark> dosyasından çağrılan <mark><strong>controllers/MainController.js</strong></mark> dosyası içindeki <strong>index</strong> methodundan render edilir.</p>
